# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/
.env/

# VS Code
.vscode/

# macOS
.DS_Store

# System files
Thumbs.db

# GCP credentials
*.json

# Git
.git/